html, body, ion-app, ion-content, .content {
  background-color: transparent !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.center {
  text-align: center;
}

p,a,h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

.p20 {
  padding: 20px;
}
.ptb20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.p20 {
  padding-bottom: 20px;
}
.p30 {
  padding: 30px;
}
.pb30 {
  padding-bottom: 30px;
}

#map {
  width: 100%;
  height: 100px;
}

.results-list {
  width: 85%;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #fafafa;
}
.results-list-item {
  background-color: #ffffff;
  margin: 5px;
}
.results-list-item .item-inner {
  border: 0px !important;
}


.icons-overlay {
  background-color: rgba(0,0,0,.8);
  width: 80px;
  display: inline-block;
  height: 100%;
}

.image-button-camera, .image-button-flash, .image-button-close, .image-button-flash-on, .image-button-flash-off {
  position: fixed;
  text-align: center;
  width: 80px;
}
.image-button-camera p, .image-button-flash p, .image-button-close p, .image-button-flash-on p, .image-button-flash-off p {
  font-size: 9px;
  text-transform: uppercase;
  color: #ffffff;
}
.image-button-camera {
  top: 40%;
}
.image-button-camera img {
  width: 50px;
}
.image-button-flash-on {
  top: 20px;
}
.image-button-flash-off {
  top: 30px;
}
.image-button-flash-on img {
  width: 40px;
}
.image-button-flash-off img {
  width: 20px;
}
.image-button-close {
  top: 40%;
}
.image-button-close img {
  width: 40px;
}
